@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-secondary: ##333333;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}
